footer {
    text-align: center;
    background: #000;
    color: #fff;
    line-height: 20px;
    padding: 10px;
    margin-top: 0;
    position: relative;
    z-index: 2;
    font-size: 12px;
    font-family: lato;
}
footer a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
   
}
/* For mobile */
.footerTabs {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: #040404;
    font-size: 13px;
    z-index: 99;
    background-image: radial-gradient(circle at 50% 3px,transparent 35px,#000 35px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footerTabs .footerImage {
    content: '';
    background-image: radial-gradient(circle at 50% 3px,transparent 35px,#000 35px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.footerTabs ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
}
.footerTabs ul li {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.footerTabs ul li a {
    /* width: 25px; */
    /* height: 25px; */
    top: 0;
    color: var(--primary-text-color);
    cursor: pointer;
    position: relative;
}
.footerTabs ul li.big {
    position: absolute;
    height: 70px;
    width: 20%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 10px;
}
.footerTabs ul li.big::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 100%;
    z-index: -1;
    margin: auto;
    -webkit-box-shadow: var(--bottom-tab-shadow);
    box-shadow: #333;
}
.footerTabs ul li.big a {
    position: relative;
    color: #ababab;
    top: -24px;
    background-color: transparent;
    width: auto;
    height: auto;
    margin-top: auto;
}
.footerTabs ul li a img {
    width: auto;
    height: 18px;
    display: inline-block;
    margin: auto;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.footerTabs ul li .title-name {
    color: #fff;
    z-index: 9;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 2px;
}