<footer class="footer showInDesktop ">
    <a href="javascript:void(0)"> <span>Rules &amp; Regulations</span>
    </a> © 2023
</footer>

<!--For mobile   -->
<div class="footerTabs showInMobile"><span class="footerImage"></span>
    <ul>
        <li><a>
                <img src="../../assets/footer/football.png" alt="" class="img-fluid"></a>
            <div class="title-name">Sports</div>
        </li>
        <li><a>
                <img src="../../assets/footer/in-play.png" alt="" class="img-fluid"></a>
            <div class="title-name">In Play</div>
        </li>
        <li><a href="javascript:void(0)">&nbsp;</a></li>
        <li class="big"><a><span>
                    <img src="../../assets/footer/home.png"></span></a></li>
        <li><a>
                <img src="../../assets/footer/Casino.png" alt="" class="img-fluid"></a>
            <div class="title-name">Casino</div>
        </li>
        <li><a>
                <img src="../../assets/footer/megaphone.png" alt="" class="img-fluid">
                <div class="title-name">Promotion</div>
            </a></li>
    </ul>
</div>