<div class="mainDiv">
    <div class="ListDiv">
        <li class="arrowicon">
            <img class="sportimg" src="../../assets/sidNav/4.svg">
            <span> sportlist</span>
            <!-- <i style="float: right;" class="fa fa-angle-right"></i> -->
        </li>

    </div>
    <div class="ListDiv">
        <li class="arrowicon">
            <img class="sportimg" src="../../assets/sidNav/4.svg">
            <span> sportlist</span>
            <!-- <i style="float: right;" class="fa fa-angle-down"></i> -->
        </li>
    </div>
    <li class="has-submenu" style="background-color: azure; ">
        <a  href="javascript:void(0);" class="sport-type-Cricket" >
        <img alt="" class="sport-icon"src="../../assets/sidNav/4.svg"> Cricket </a>
      
    </li>
   
</div>
<li class="has-submenu" style="background-color: azure; ">
    <a  href="javascript:void(0);" class="sport-type-Cricket" >
    <img alt="" class="sport-icon"src="../../assets/sidNav/4.svg"> Cricket </a>
  
</li>
