.ListDiv {
    display:flex;
    width: 178px;
    background: white;
    list-style: none;
    padding: 10px 15px;
    display: block;
    /* font-weight: 700; */
    text-decoration: none;
    transition: all 150ms;
    color: #000;

}
li:not(:last-child) > a {
    border-bottom: 1px solid #efefef;
}
.ListDiv {
    border-bottom: 1px solid #efefef;

}

.ListDiv :hover {
    transform: scale(1.1);
    transition: all 150ms;
    border-top: 1px solid #ddd;
    text-decoration: none;
    /* padding: 0px 7px; */
}

.sportimg {
    margin-right: 10px;
    display: inline-block;
    width: 20px;
}

.arrowicon {
    background-image: url(../../assets/sidNav/submenu-arrow.svg);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 8px 12px;
}

li.has-submenu > a {
    background-image: url(../../assets/sidNav/submenu-arrow.svg);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 8px 12px;
}
 li:not(:last-child) > a {
    border-bottom: 1px solid #efefef;
}
li > a {
    display: block;
    font-weight: 700;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 150ms;
    color: #000;
}
li:not(:last-child) > a {
    border-bottom: 1px solid #efefef;
}
 li > a:hover {
    transform: scale(1.1);
    border-top: 1px solid #ddd;
    text-decoration: none;
}
 li > a:hover {
    background: #f1f1f1;
    border-radius: 3px;
}
 li {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.sport-icon {
    margin-right: 10px;
    display: inline-block;
    width: 20px;
}