<div class="market-group">
    <div class="market-group-header">
        <div class="row MatchClass">
            <div class="col-xl-4 col-sm-12 col-md-6 ps-0 ">
                <div class="market-name-col"><span class="market-icon"><img
                            src="../../assets/star-red-inactive.png"></span> Match Odds <span
                        class="min-max"><b>Min:100 Max:10k</b></span>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-6 showInMobile">
                        <div class="back-title"></div>
                    </div>
                    <div class="col-3 col-md-6 text-center">
                        <div class="back-title">Back</div>
                    </div>
                    <div class="col-3 col-md-6 text-center">
                        <div class="lay-title">Lay</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="shadow-box">
        <div class="market-body-listing">
            <div class="row d-flex align-items-center g-2">
                <div class="col-6">
                    <div class="event-name"> Bangladesh </div>
                </div>
                <div class="col-6">
                    <div class="row g-0">
                        <div class="col-4 showInDesktop">
                            <div class="btn-block">
                                <div class="back">
                                    <div class="odd-button__price"> 2.24 </div>
                                    <div class="odd-button__volume"> 288.64 </div>
                                </div>
                                <div class="back">
                                    <div class="odd-button__price"> 2.26 </div>
                                    <div class="odd-button__volume"> 5168.31 </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 mobileBox">
                            <div class="btn-block">
                                <div class="back">
                                    <div class="odd-button__price"> 2.28 </div>
                                    <div class="odd-button__volume"> 5.39 </div>
                                </div>
                                <div class="lay">
                                    <div class="odd-button__price"> 2.32 </div>
                                    <div class="odd-button__volume"> 2474.24 </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 showInDesktop">
                            <div class="btn-block">
                                <div class="lay">
                                    <div class="odd-button__price"> 2.34 </div>
                                    <div class="odd-button__volume"> 523 </div>
                                </div>
                                <div class="lay">
                                    <div class="odd-button__price"> 2.36 </div>
                                    <div class="odd-button__volume"> 1261.46 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>