<div class="casino-games-container">
    <div class="casino-games">
        <div class="casino-games-column">
            <a class="first">
                <img src="../../assets/casino-games/CasinoJokerBet.webp">
                <div class="shadow-effect">
                    <div class="button-style">
                        <div class="play-button">
                            <button>Play</button>
                        </div>
                    </div>
                </div>
            </a>
            <a class="second">
                <img src="../../assets/casino-games/casinoPoker.webp">
                <div class="shadow-effect">
                    <div class="button-style">
                        <div class="play-button">
                            <button>Play</button>
                        </div>
                    </div>
                </div>
            </a>
            <a class="thirdd">
                <img src="../../assets/casino-games/casinoFruitRace1.webp">
                <div class="shadow-effect">
                    <div class="button-style">
                        <div class="play-button">
                            <button>Play</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="casino-games-column">
            <a class="nine">
                <img src="../../assets/casino-games/blackJackCasinoGame.webp">
                <div class="shadow-effect">
                    <div class="button-style">
                        <div class="play-button">
                            <button>Play</button>
                        </div>
                    </div>
                </div>
            </a>
            <a class="ten">
                <img src="../../assets/casino-games/32casinoCards.webp">
                <div class="shadow-effect">
                    <div class="button-style">
                        <div class="play-button">
                            <button>Play</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="casino-games-column">
            <a class="six">
                <img src=".../../assets/casino-games/wheelBetCasinoNew.webp">
                <div class="shadow-effect">
                    <div class="button-style">
                        <div class="play-button">
                            <button>Play</button>
                        </div>
                    </div>
                </div>
            </a>
            <a class="seven">
                <img src="../../assets/casino-games/casinoBetNumber.webp">
                <div class="shadow-effect">
                    <div class="button-style">
                        <div class="play-button">
                            <button>Play</button>
                        </div>
                    </div>
                </div>
            </a>
            <a class="eight">
                <img src="../../assets/casino-games/casinoliveDice.webp">
                <div class="shadow-effect">
                    <div class="button-style">
                        <div class="play-button">
                            <button>Play</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="casino-games-column">
            <a class="nine">
                <img src="../../assets/casino-games/blackJackCasinoGame.webp">
                <div class="shadow-effect">
                    <div class="button-style">
                        <div class="play-button">
                            <button>Play</button>
                        </div>
                    </div>
                </div>
            </a>
            <a class="ten">
                <img src="../../assets/casino-games/32casinoCards.webp">
                <div class="shadow-effect">
                    <div class="button-style">
                        <div class="play-button">
                            <button>Play</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>