<nav class="sport-menu showInDesktop">
    <span class="sportMenu"><a class="sportMenuItem"> <span class="sportName">Cricket</span></a></span>
    <span class="sportMenu"><a class="sportMenuItem"> <span class="sportName">Football</span></a></span>
    <span class="sportMenu"><a class="sportMenuItem"><span class="sportName">Tennis</span></a></span>
    <span class="sportMenu"><a class="sportMenuItem"><span class="sportName">Horse Racing</span></a></span>
    <span class="sportMenu"><a class="sportMenuItem"><span class="sportName">Greyhound Racing</span></a></span>
    <span class="sportMenu"><a class="sportMenuItem"> <span class="sportName">Kabaddi</span></a></span>
    <span class="sportMenu"><a class="sportMenuItem"> <span class="sportName">Politics</span></a></span>

    <span class="sportMenu"><a class="sportMenuItem sportMenuItem--casino"> <span class="sportName">Casino</span></a>
    </span>
    <span class="sportMenu"><a href="javascript:void(0);" class="sportMenuItem sportMenuItem--casino"><span
                class="sportName">Sportsbook</span></a>
    </span>
    <span class="sportMenu"><a class="sportMenuItem sportMenuItem--casino"><span class="sportName">Int Casino</span></a>
    </span>
    <span class="sportMenu"><a class="sportMenuItem"><span class="sportName">Binary</span></a>
    </span>
</nav>
<!-- For Mobile -->
<div class="exchange-menu-wrapper showInMobile">
    <ul class="subnav">
        <li routerlinkactive="active" class=""><a routerlinkactive="active"
                class="subnav-link active"><img src="../../assets/topNav/in-play (1).png">In Play</a></li>
        <li routerlinkactive="active"><a routerlinkactive="active" class="subnav-link"><img alt=""
                    src="../../assets/topNav/4.png"> Cricket </a></li>
        <li routerlinkactive="active"><a routerlinkactive="active" class="subnav-link"><img alt=""
                    src="../../assets/topNav/1.png"> Football </a></li>
        <li routerlinkactive="active"><a routerlinkactive="active" class="subnav-link"><img alt=""
                    src="../../assets/topNav/2.png"> Tennis </a></li>
        <li routerlinkactive="active"><a routerlinkactive="active" class="subnav-link"><img alt=""
                    src="../../assets/topNav/7.png"> Horse Racing </a></li>
        <li routerlinkactive="active"><a routerlinkactive="active" class="subnav-link"><img alt=""
                    src="../../assets/topNav/4339.png"> Greyhound Racing </a></li>
        <li routerlinkactive="active"><a routerlinkactive="active" class="subnav-link"><img alt=""
                    src="../../assets/topNav/99994.png"> Kabaddi </a></li>
        <li routerlinkactive="active"><a routerlinkactive="active" class="subnav-link"><img alt=""
                    src="../../assets/topNav/2378961.png"> Politics </a></li>
        <li routerlinkactive="active"><a routerlinkactive="active" class="subnav-link hightlight-menus"><img alt=""
                    src="../../assets/topNav/99999.png"> Casino </a></li>
        <li routerlinkactive="active"><a href="javascript:void(0)" routerlinkactive="active" class="subnav-link"><img
                    alt="" src="assets/topNav/99991.png"> Sports book </a></li>
        <li routerlinkactive="active"><a routerlinkactive="active" class="subnav-link hightlight-menus"><img alt=""
                    src="../../assets/topNav/99998.png"> Int Casino </a></li>
        <li routerlinkactive="active"><a routerlinkactive="active" class="subnav-link"><img alt=""
                    src="../../assets/topNav/99990.png"> Binary </a></li>
    </ul>
</div>