<nav class="sport-menu"><span class="sport-menu__item"><a routerlinkactive="router-link-exact-active router-link-active"
            class="sport-menu__link"><span class="link-name">Cricket</span></a></span><span class="sport-menu__item"><a
            routerlinkactive="router-link-exact-active router-link-active" class="sport-menu__link"><span
                class="link-name">Football</span></a></span><span class="sport-menu__item"><a
            routerlinkactive="router-link-exact-active router-link-active" class="sport-menu__link"><span
                class="link-name">Tennis</span></a></span><span class="sport-menu__item"><a
            routerlinkactive="router-link-exact-active router-link-active" class="sport-menu__link"><span
                class="link-name">Horse Racing</span></a></span><span class="sport-menu__item"><a
            routerlinkactive="router-link-exact-active router-link-active" class="sport-menu__link"><span
                class="link-name">Greyhound Racing</span></a></span><span class="sport-menu__item"><a
            routerlinkactive="router-link-exact-active router-link-active" class="sport-menu__link"><span
                class="link-name">Kabaddi</span></a></span><span class="sport-menu__item"><a
            routerlinkactive="router-link-exact-active router-link-active" class="sport-menu__link"><span
                class="link-name">Politics</span></a></span><span class="sport-menu__item"><a
            routerlinkactive="router-link-exact-active router-link-active"
            class="sport-menu__link sport-menu__link--casino"><span class="link-name">Casino</span></a></span><span
        class="sport-menu__item"><a href="javascript:void(0);"
            routerlinkactive="router-link-exact-active router-link-active"
            class="sport-menu__link sport-menu__link--casino"><span class="link-name">Sports
                book</span></a></span><span class="sport-menu__item"><a
            routerlinkactive="router-link-exact-active router-link-active"
            class="sport-menu__link sport-menu__link--casino"><span class="link-name">Int
                Casino</span></a></span><span class="sport-menu__item"><a
            routerlinkactive="router-link-exact-active router-link-active" class="sport-menu__link"><span
                class="link-name">Binary</span></a></span>
</nav>