<div>
    <div class="events-col mb-3 showInDesktop">
        <div class="bet-table-header gradient">
            <div class="row d-flex align-items-center game-title-box-right">
                <div class="col-md-4 col-6">
                    <div class="game-title-box"><img width="25" class="game-icon-img me-2"
                            src="../../assets/inplay/4.png">Cricket </div>
                </div>
                <div class="col-md-6 col-6 text-center ms-auto ">
                    <div class="row no-gutters">
                        <div class="text-center col-4 text-white caption">1</div>
                        <div class="text-center col-4 text-white caption">X</div>
                        <div class="text-center col-4 text-white caption">2</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="class">
                <div class="bet-table-body">
                    <div class="bet-table-row bg-light pt-1 pb-1 item-odds">
                        <div class="d-flex align-items-center">
                            <div class="col-md-4 col-4"><a>
                                    <div class="d-flex flex-column ps-3">
                                        <div class="calendar-space">27/11/2023 14:00</div><span
                                            class="manage-overflow match-name fw-semibold">LAHORE
                                            REGION WHITES V QUETTA REGION</span><span
                                            class="manage-overflow match-name fw-semibold"></span>
                                    </div>
                                </a></div>
                            <div class="col-md-2 col-2 text-center">
                                <div class="market-count"><span class="live-inplay"></span><a
                                        class="fancy-game-icon"><img src="../../assets/inplay/tvbuzzmbl.png"
                                            alt=""></a><a class="fancy-game-link"><span>F</span></a><a
                                        class="fancy-game-link"><span>BM</span></a></div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="row g-0">
                                    <div class="col-md-4 col-4">
                                        <div class="btn-block">
                                            <div class="back">
                                                <div class="odd-button__price">-</div>
                                                <div class="odd-button__volume">-</div>
                                            </div>
                                            <div class="d-md-block d-none lay">
                                                <div class="odd-button__price">-</div>
                                                <div class="odd-button__volume">-</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-4">
                                        <div class="btn-block">
                                            <div class="back disabled">
                                                <div class="odd-button__price">-</div>
                                                <div class="odd-button__volume">-</div>
                                            </div>
                                            <div class="lay d-none d-md-block disabled">
                                                <div class="odd-button__price">-</div>
                                                <div class="odd-button__volume">-</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-4">
                                        <div class="btn-block">
                                            <div class="back d-md-block d-none">
                                                <div class="odd-button__price">-</div>
                                                <div class="odd-button__volume">-</div>
                                            </div>
                                            <div class="last lay">
                                                <div class="odd-button__price">-</div>
                                                <div class="odd-button__volume">-</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Section -->
    <div role="group" class="mbl-inplay-con  showInMobile">
        <div class="inplay-header">
            <div class="inplay-header-inn">
                <i aria-hidden="true" class="fa fa-play-circle inplay-header-inn-ic"></i>
                <span class="inplay-header-inn-txt">Cricket</span>
            </div>
        </div>
        <div class="mbl-inplay-market list-md">
            <div>
                <div>
                    <div *ngFor="let market of  marketAllData" class="inplay-market-inn">
                        <div class="market-list" tabindex="0">
                            <div class="IplayImag">
                                <div class="ImagDiv">
                                    <img [src]="market.imagePath" alt="Market Image" class="img-fluid">
                                </div>
                            </div>
                            <div class="team-name-head">
                                <div class="team-1">
                                    <a>{{ market.team }}</a>
                                    <em class="ml-1 Iplay">
                                        <i class="fa fa-circle"></i>
                                    </em>
                                </div>
                                <div class="team-2">
                                    <span>{{ market.date }}</span>
                                    <div>
                                        <a class="stream-ic">
                                            <img src="../../assets/inplay/tvbuzzmbl.png" alt="">
                                        </a>
                                        <a class="virtual-icon ms-2">
                                            <i class="fa fa-gamepad"></i>
                                        </a>
                                        <a class="fancy-ic-txt">BM</a>
                                        <a class="fancy-ic-txt">F</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-game-con">
                            <div class="bet-star-ic">
                                <div class="star-ic">
                                    <img src="../../assets/inplay/star-red-inactive-mbl.png"
                                        style="width: 18px;height: 18px;">
                                </div>
                            </div>
                            <div class="back-lay-con" tabindex="0" *ngFor="let odd of market.odds">
                                <div class="back">
                                    <div class="odd-price">{{ odd.backPrice }}</div>
                                    <div class="odd-volume">{{ odd.backVolume }}</div>
                                </div>
                                <div class="lay">
                                    <div class="odd-price">{{ odd.layPrice }}</div>
                                    <div class="odd-volume">{{ odd.layVolume }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>