.gradient {
    background-image: linear-gradient(90deg, #686666 50%, #707070);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.game-title-box {
    padding: .562rem .5rem !important;
    border-top-left-radius: 1rem !important;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    background: transparent linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
    display: inline-flex;
    clip-path: polygon(0px 0px, 100% 0%, 85% 100%, 0% 100%);
    width: 100%;
}

.game-title-box-right {
    width: 100%;
}

.game-icon-img {
    width: 20px;
    margin-right: 5px;
}

.bet-table-body {
    padding: 5px;
    box-shadow: 0 0 5px 0 #989898;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: white;
}

.bet-table-row {
    border-bottom: 1px solid #e5e5e5;
    border-left: 4px solid #fff;
}

.bet-table-row:hover {
    border-left: 4px solid #b88831;
}

.bet-table-row:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

a {
    color: transparent linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
    text-decoration: none;
}

.calendar-space {
    color: #a1a1a1;
    width: 100%;
    display: block;
    text-align: left;
    white-space: normal;
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 0 !important;
}

.match-name,
.match-name a {
    font-size: 1rem;
    line-height: 1.1;
    color: #333;
}

.market-count {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3px;
}

.live-inplay {
    font-weight: 500;
    font-style: normal;
    font-size: 10px;
    height: 10px;
    width: 10px;
    line-height: 20px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 0;
    color: #fff;
    background: #3c1404;
    border-radius: 50px;
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    -ms-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink2;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink2;
    -moz-animation-timing-function: ease-in-out;
}

@keyframes blink2 {
    0% {
        background-color: #28a745;
    }

    50% {
        background-color: #202020;
    }

    100% {
        background-color: #28a745;
    }
}

.fancy-game-icon {
    margin-left: 4px;
}

.fancy-game-link {
    font-weight: 500;
    font-style: normal;
    font-size: 10px;
    height: 20px;
    width: 30px;
    line-height: 20px;
    display: inline-block;
    margin-left: 4px;
    margin-right: 0;
    color: #fff;
    background: #8b8b8b;
    border-radius: 50px;
}

.fancy-game-icon img {
    width: 20px;
}

.btn-block {
    display: flex;
    margin: 0 !important;
    margin-bottom: 1px !important;
}

.back {
    display: flex !important;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 0.12em 0.5em;
    margin: 0px 0.15em;
    position: relative;
    z-index: 0;
    text-align: center;
    border-radius: 2px;
    min-height: 35px;
    cursor: pointer;
    background-color: #a5d9fe;
}

.odd-button__price {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}

.odd-button__volume {
    font-size: 9px;
    line-height: 11px;
    min-height: 11px;
    border: none !important;
}

.lay {
    display: flex !important;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 0.12em 0.5em;
    margin: 0px 0.15em;
    position: relative;
    z-index: 0;
    text-align: center;
    border-radius: 2px;
    min-height: 35px;
    cursor: pointer;
    background-color: #f8d0ce;
}
/* =====================
========================
        Mobile View
=========================
========================== */
@media (max-width: 767px){
.mbl-inplay-con, .detail-page {
    padding: 0;
}
}
.inplay-header {
    background:  transparent linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
    clip-path: polygon(0px 0px, 100% 0%, 85% 100%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0px 15px;
    margin: 5px 0;
    width: 60%;
}
.inplay-header-inn {
    display: flex;
    align-items: center;
}
.inplay-header-inn-ic {
    font-size: 20px;
    width: 24px;
    height: 32px;
    font-style: normal;
    padding-right: 3px;
    line-height: 30px;
    color: #fff;
}
.inplay-header-inn-txt {
    font-size: 13px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}
.list-md {
    padding-top: 0;
    padding-bottom: 0;
}
.inplay-market-inn {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dedddd;
}
.market-list {
    display: flex;
    background-color: #fff;
}
.IplayImag {
    background-color: transparent;
    border: 0px;
    padding: 0px;
    flex-shrink: 0;
    font-size: 14px;
    margin: 0px 0.5em;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 20px;
    margin-right: 0;
}
.ImagDiv{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 1.25em;
    height: 1.25em;
    flex-shrink: 0;
}
.team-name-head {
    /* display: flex; */
    justify-content: space-between;
    -webkit-box-flex: 1;
    flex-grow: 1;
    cursor: pointer;
    min-width: 0px;
    font-size: 12px;
    padding: 0.2em 5px 0.5em 10px;
    position: relative;
    background: #DEDDDD;
    clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 5% 100%);
}
.team-1 {
    line-height: normal;
}
.Iplay {
    animation: Iplay 1s linear infinite;
    margin-left: 4px;
}
@keyframes Iplay{
    0% {
        color: green;
    }
    50% {
        color: darkgreen;
    }
    100% {
        color: palegreen;
    }
}
.team-2 {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.team-2 span {
    display: flex;
    align-items: center;
    font-size: 11px;
    justify-content: center;
}
.team-2 div {
    display: flex;
    align-items: center;
    margin-top: 3px;
}
.team-1, .team-1 a, .team-2, .team-2 a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    cursor: pointer;
}
.stream-ic img {
    width: 20px;
}
.fancy-ic-txt {
    font-weight: 900 !important;
    font-style: normal !important;
    font-size: 10px !important;
    height: 20px;
    width: 30px;
    line-height: 20px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 0;
    color: #fff !important;
    background: #b88831;
    border-radius: 50px;
    text-align: center;
}
.main-game-con {
    width: 100%;
    padding: 1px;
    display: flex;
    position: relative;
}
.inplay-market-inn .back-lay-con {
    display: flex;
    margin: 0 !important;
    margin-bottom: 1px !important;
    width: 100%;
}

.odd-price {
    font-size: 13px;
    line-height: 14px;
    font-weight: 800;
}
.odd-volume{
    font-size: 10px;
    line-height: 11px;
    min-height: 11px;
    border: none!important;
}
